.admin-container {
   height: 90vh;
   display: flex;
   flex-direction: column;
 }
 
 mat-drawer-container {
   flex: 1;
   display: flex;
   flex-direction: column;
 }
 
 .content-wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   flex: 1; /* İçeriğin kalan kısmını doldurması için */
 }
 
 .top-sidebar {
   width: 100%;
 }
 
 .main-content {
   flex: 1;
   padding: 20px;
 }
 .some-class {
  -webkit-appearance: none; // Safari ve Chrome için
  -moz-appearance: none;    // Firefox için
  appearance: none;         // Standart özellik
}

 