<div class="login-out">
  <img src="assets/teknoloji_transparent.png" alt="logo" class="logo"/>
  <h1 style="margin-top: 10%;">WELCOME TO STAJYER TEKNOLOJI</h1>
      
  <div class="login">
    <div class="e-mail-container">
      <mat-form-field>
        <mat-label>Please Enter Your E-mail</mat-label>
        <input
          matInput
          placeholder="Turksat@example.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
        />
        <mat-error *ngIf="email.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <div class="password-container">
      <mat-form-field>
        <mat-label>Please Enter Your Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="button">
        <button (click)="onLogin()" type="submit" mat-flat-button class="custom-button">Log In</button>
      </div>
    </div>
  </div>
</div>
