  <!-- list-product.component.html -->
  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pizza">
  </mat-form-field>

<div class="mat-elevation-z8">
   
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="productCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Code </th>
        <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
      </ng-container>
  
      <!-- Product Name Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
      <!-- Manufacture Date Column -->
      <ng-container matColumnDef="manufactureDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacture Date </th>
        <td mat-cell *matCellDef="let element"> {{element.manufactureDate | date}} </td>
      </ng-container>
  
      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
  
      <!-- Feature1 Column -->
      <ng-container matColumnDef="feature1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Feature1 </th>
        <td mat-cell *matCellDef="let element"> {{element.feature1}} </td>
      </ng-container>
  
      <!-- Feature2 Column -->
      <ng-container matColumnDef="feature2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Feature2 </th>
        <td mat-cell *matCellDef="let element"> {{element.feature2}} </td>
      </ng-container>
  
      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator (page)="pageChanged()"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
   </mat-paginator>
  </div>
  