<a class="menu-button"><button mat-button routerLink="/admin">Dashboard</button></a>
<mat-menu #aboveMenu="matMenu" yPosition="above"></mat-menu>

<a class="menu-button"><button mat-button routerLink="customers">Customers</button></a>
<mat-menu #aboveMenu="matMenu" yPosition="above"></mat-menu>

<a class="menu-button"><button mat-button routerLink="products">Products</button></a>
<mat-menu #aboveMenu="matMenu" yPosition="above"></mat-menu>

<a class="menu-button"><button mat-button routerLink="orders">Orders</button></a>
<mat-menu #aboveMenu="matMenu" yPosition="above"></mat-menu>

<a class="menu-button"><button mat-button routerLink="">Siteyi Gör</button></a>
<mat-menu #aboveMenu="matMenu" yPosition="above"></mat-menu>
