    <div class="footer">
        <p>Address: Elmadağ Mah. Dumlupınar Sok. NO:27 Çankaya / Ankara</p>
        <p>Tel: 0312 374 12 14</p>
        <p>STAJYER TEKNOLOJİ A.Ş. All Rights Reserved</p>

        <div class="social-icons">
            <a href="https://instagram.com" class="social-icon">
                <img src="assets/instagram.png" alt="Instagram">
            </a>
            <a href="https://linkedin.com" target="https://tr.linkedin.com/company/turksat" class="social-icon">
                <img src="assets/linkedin.png" alt="LinkedIn">
            </a>
        </div>
        
    </div>
