
<div class="menu-container">
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/laptop.png" alt="Notebooklar">
        <span>Notebooks</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/telefon.png" alt="Telefonlar">
        <span>Phones</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/television.png" alt="Televizyonlar">
        <span>Televisions</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/modem.png" alt="Modemler">
        <span>Modems</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/tablet.png" alt="Tabletler">
        <span>Tablets</span>
      </button>
    </div>
  </div>
  
