<!-- app.component.html -->
<div class="menu-container">
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/laptop.png" alt="Notebooklar">
        <span>Notebooklar</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/telefon.png" alt="Telefonlar">
        <span>Telefonlar</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/television.png" alt="Televizyonlar">
        <span>Televizyonlar</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/modem.png" alt="Modemler">
        <span>Modemler</span>
      </button>
    </div>
    <div class="menu-button">
      <button mat-button routerLink="">
        <img src="assets/tablet.png" alt="Tabletler">
        <span>Tabletler</span>
      </button>
    </div>
  </div>
  
