
<mat-form-field>
<div class="form-container">
<mat-form-field >
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th style="background-color:aliceblue;" mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Category Id Column -->
      <ng-container matColumnDef="categoryId">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.categoryId === 1"><img style="cursor:pointer" src="../../../../../assets/telefon.png" width="30" height="30"></span>
          <span *ngIf="element.categoryId === 2"><img style="cursor:pointer" src="../../../../../assets/tablet.png" width="30" height="30"></span>
          <span *ngIf="element.categoryId === 3"><img style="cursor:pointer" src="../../../../../assets/laptop.png" width="30" height="30"></span>
          <span *ngIf="element.categoryId === 4"><img style="cursor:pointer" src="../../../../../assets/television.png" width="30" height="30"></span>
          <span *ngIf="element.categoryId === 5"><img style="cursor:pointer" src="../../../../../assets/modem.png" width="30" height="30"></span>
        </td>
      </ng-container>

  
      <!-- Weight Column -->
      <ng-container matColumnDef="productCode">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Product Code</th>
        <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="productName">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>  Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
      <ng-container matColumnDef="manufactureDate">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Manufacture Datw</th>
        <td mat-cell *matCellDef="let element"> {{element.manufactureDate}} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
  
      <ng-container matColumnDef="feature1">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Feature1</th>
        <td mat-cell *matCellDef="let element"> {{element.feature1}} </td>
      </ng-container>

      <ng-container matColumnDef="feature2">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Feature2</th>
        <td mat-cell *matCellDef="let element"> {{element.feature2}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Updated Date</th>
        <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
      </ng-container>

      <ng-container matColumnDef="photos">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Photos</th>
        <td mat-cell *matCellDef="let element"><img style="cursor:pointer" (click)="addProductImages (element.id)" src="/../../../../assets/foto.png" width="30" height="30"></td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element"><img style="cursor:pointer" src="../../../../../assets/edit.png" width="30" height="30"></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th style="background-color:aliceblue; border-radius: 10px;" mat-header-cell *matHeaderCellDef>Delete</th>
        <td [id]="element.id" mat-cell *matCellDef="let element" appDelete (callback) = "getProducts()" controller="products"></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator (page)="pageChanged()"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
   </mat-paginator>
  </div>
</div>
